work_test/src/com/ebay/eric/xml/note.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT note (to,from,heading,body)>
<!ELEMENT to      (#PCDATA)>
<!ELEMENT from    (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body    (#PCDATA)>

<!ATTLIST to NAME CDATA #REQUIRED>
<!ATTLIST from CHAN CDATA #REQUIRED>
<!ATTLIST heading VTR CDATA #IMPLIED>
<!ATTLIST body RATING CDATA #IMPLIED>

<!ENTITY writer "Bill Gates">
<!ENTITY copyright "Copyright W3School.com.cn">
